@tailwind base;
@tailwind components;
@tailwind utilities;

/* #bar {
  width: 15%;
  background-color: yellow;
  animation-name: loadingBar;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  position: relative;
  transition: all 0.3s;
} */

html {
  overflow-x: hidden;
}

@keyframes loadingBar {
  0% {
    transform: translateX(-21vw);
  }
  100% {
    transform: translateX(100vw);
  }
}